body {
  text-align: center;
  max-width: 100%;
}

#board {
  background-image: url("images/grid.png");
  margin: 0 auto;
}

#startButton {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #18b929 !important;
  font-family: 'Sometype Mono', monospace;
  font-weight: 700;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 7px solid #18b929 !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

#startButton:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}
